In [7]:
#preprocessing

import pandas as pd

data=pd.read_csv('adult.csv')

#print(data.head(5))
#print(data.describe())
#print(data.isnull().sum())
#data.dropna(inplace=True)

data=pd.get_dummies(data,columns=['workclass','education','marital-status','occupation','relationship',
                                  'race','sex','nativeCountry'],drop_first=True)
data

,age,fnlwgt,education_num,capitalGain,capitalLoss,hoursPerWeek,income,workclass_Local-gov,workclass_Never-worked,workclass_Private,...,nativeCountry_Portugal,nativeCountry_Puerto-Rico,nativeCountry_Scotland,nativeCountry_South,nativeCountry_Taiwan,nativeCountry_Thailand,nativeCountry_Trinadad&Tobago,nativeCountry_United-States,nativeCountry_Vietnam,nativeCountry_Yugoslavia
0,39,77516,13,2174,0,40,<=50K,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,50,83311,13,0,0,13,<=50K,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,38,215646,9,0,0,40,<=50K,False,False,True,...,False,False,False,False,False,False,False,True,False,False
3,53,234721,7,0,0,40,<=50K,False,False,True,...,False,False,False,False,False,False,False,True,False,False
4,28,338409,13,0,0,40,<=50K,False,False,True,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,257302,12,0,0,38,<=50K,False,False,True,...,False,False,False,False,False,False,False,True,False,False
32557,40,154374,9,0,0,40,>50K,False,False,True,...,False,False,False,False,False,False,False,True,False,False
32558,58,151910,9,0,0,40,<=50K,False,False,True,...,False,False,False,False,False,False,False,True,False,False
32559,22,201490,9,0,0,20,<=50K,False,False,True,...,False,False,False,False,False,False,False,True,False,False
32560,52,287927,9,15024,0,40,>50K,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [ ]:
The Gini index has a maximum impurity 
is 0.5 and maximum purity is 0

In [6]:
#Gini index
import pandas as pd
def gini_coefficient(val):
    sorval=sorted(val)
    n=len(val)
    sumval=sum(sorval)
    gini=0
    for i,val in enumerate(sorval):
        gini+=(i+1)*val
    giniden=n*sumval
    ginicoef=(2*gini)/giniden-(n+1)/n
    print(ginicoef)
        

data=pd.read_csv('adult.csv')
d=data.iloc[:,0]
gini_coefficient(d)

0.19959136027708335